.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  background-color: #faf8ee;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.load {
  text-align: center;
  margin-top: 10px;
}
.load span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}
.load span.sct {
  background-color: #ccc;
}
.btn1 {
  background-color: transparent;
  margin: auto;
  position: absolute;
  bottom: 52%;
  left: 0;
  right: 0;
  border: 2px solid rgba(111, 112, 124, 0.8);
  width: 175px;
  height: 55px;
  border-radius: 0;
}
.btn2 {
  background-color: transparent;
  margin: auto;
  position: absolute;
  bottom: 42%;
  left: 0;
  right: 0;
  border: 2px solid rgba(111, 112, 124, 0.8);
  width: 175px;
  height: 50px;
  border-radius: 0;
}
.btn3 {
  background-color: transparent;
  margin: auto;
  position: absolute;
  bottom: 32%;
  left: 0;
  right: 0;
  border: 2px solid rgba(111, 112, 124, 0.8);
  width: 175px;
  height: 50px;
  border-radius: 0;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.topcenter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.center-top-text {
  font-size: 15px;
  color: #000;
  padding-top: 10px;
}
.hidden {
  display: none;
}
